*{
    margin: 0;
    padding: 0;
}

.cabecera{
    color: #FFFFFF;
    text-align: center;
    background-color: #2B0CF2;
    padding: 7px 300px 7px 0px;
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    height: 100px;
    line-height: 90px;
}

.logo{
  width: 100px;
  height: 100px;
  padding-left: 150px;
  float: left;
}

body{
    background-color: #F9F9F9;
}

.clearfix{
    float: none;    
    clear: both;
}

#menu{
    background-color: red;
    position: sticky;

}

#menu ul li{
    /*display: inline-block;*/ 
    display: block;
    float: left;
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif:
}

#menu ul li:hover{
    background-color: white;
    cursor: pointer;
}

#menu ul li:hover a{
    display: block;
    color: black;
    text-decoration: underline;
}

.distribucion-marca{
    flex-wrap: nowrap;

}

.imagen-marca{
    width: 100px;
    height: 100px;   
}




body{
    background-image: url(/img/body/moroccan-flower.png);

}


body footer{
    background-color: red;
    color: white;
    margin-left: 0;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body footer hr{
    color: white;
    border:solid;
    margin-right: 100px;
}
body footer a img{
    width: 60px;
    height: 60px;
}